section {
  position: relative;
  width: 100%;
}

body {
  color: #fff;
  background-color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 100%;
}

a {
  color: inherit;
}

#container {
  position: relative;
  z-index: 2;
}

.fv {
  height: 100vh;
  width: 100%;
}

/* .fv_img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 50%;
}

.fv_img2 {
  width: 30%;
  margin: 0 auto;
} */

.heading {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  bottom: 0;
  padding: 1.5em 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.heading h1 {
  font-size: 3rem;
}

.heading a {
  font-size: 0.889rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: .555em 1.5em;
  display: block;
  margin-top: .5em;
  border-radius: 2.5em;
  background-color: #fff;
  color: #1f1f1f;
  transition: .25s transform;
}

.heading a:hover {
  transform: scale(1.075);
}

.bg {
  background-image: url(https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
  background-size: cover;
  background-position: center;
}

.fv_img1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 0 !important;
}

.ukiyo {
  margin-top: 12.5em;
}

.img-size-1 {
  margin-left: 10%;
}

.img-position-r {
  margin-left: auto;
  margin-right: 10%;
}

.img-size-full {
  width: 100%;
  height: 115vh;
}

.img-size-1 {
  width: 33.3333%;
  height: 75vh;
}

.img-size-2 {
  width: 50%;
  height: 100vh;
}

footer {
  padding: 15em 5% 10em;
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .heading {
    width: 92.5%;
  }

  .heading a {
    font-size: 2vw;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .heading h1 {
    font-size: 6vw;
  }

  .img-position-l {
    margin-left: 0;
  }

  .img-position-r {
    margin-right: 0;
  }

  .img-size-full {
    height: 100vh;
    height: 100vh;
  }

  .img-size-1 {
    width: 75%;
    height: 75vh;
  }

  .img-size-2 {
    width: 75%;
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  .heading a {
    font-size: 3vw;
    padding-left: 1em;
    padding-right: 1em;
  }

  .heading h1 {
    font-size: 7.5vw;
  }
}
